<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Itinerary</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
<h1>Create an Itinerary</h1>

  <div class="container">
  <div class="col-"></div>
    <form class="form-signin">
      <input type="text" id="inputTripName" class="form-control" placeholder="Trip Name" required autofocus>
      <input type="text" id="inputLeavingFrom" class="form-control" placeholder="Leaving From" required>
      <input type="text" id="inputArrivingTo" class="form-control" placeholder="Arriving To" required>
      <input type="text" id="inputDateFrom" class="form-control" placeholder="Date From" required>
      <input type="text" id="inputDateTo" class="form-control" placeholder="Date To" required>
      <input type="text" id="inputCompanion" class="form-control" placeholder="Add Companion" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>


  </div> <!-- /container -->

  <div class="navbar navbar-fixed-bottom">a GPOM Squirrel Pouch Production</div>
    
</body>
</html>